<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First templates</title>
</head>
<body>

    <h3>Hello !!! Everyone. This is text analyzar. Enter your text please</h3>

   <!-- <form action="index" method="GET">-->
    <form action="chandan" method="GET">
        <textarea name = "text" style="margin: 0px; width: 569px; height: 157px;"></textarea><br>
        
        <input type="checkbox" name="mithun">Remove Punctuation <br>
        <input type="checkbox" name="capital">UPPERCASE<br>
        <input type="checkbox" name="newline">New Line Remover<br>
        <input type="checkbox" name="exspace">Extre Space Remover<br> 
        <input type="checkbox" name="char">Charecter count<br>  
        <button type="submit">Analyze text</button> 
      

    </form> 
    
    
</body>
</html>